{
  "printWidth": 88,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "^react",
    "^react-redux/*",
    "^next/*",
    "^../(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^@/pages/*",
    "^@/widgets/*",
    "^@/features/*",
    "^@/entities/*",
    "^@/shared/*"
  ],
  "importOrderSeparation": true
}